
{% block content %}
<div>
    <h1> {{curCalen|safe}} <h1>
        <style>
            .month{
            text-align: center;
            }
            .mon{
            padding-left:15px;
            }
            .tue{
            padding-left:15px;
            }
            .wed{
            padding-left:15px;
            }
            .thu{
            padding-left:15px;
            }
            .fri{
            padding-left:15px;
            }
            .sat{
            padding-left:15px;
            }
            .sun{
            padding-left:15px;
            }
          </style>

          
</div>
{% endblock %}