<html>
<body>
  <script src="https://unpkg.com/htmx.org@1.9.6"></script>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="container mx-auto">
    </div>
    </body>

{% include 'notification.html' %}

{% block content %}
{% if user.is_authenticated %}

<h3> Home Page   </h3>

Hi {{ user.first_name }}! 
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  <p><a href="{%url 'password_reset' %}">Reset Password</a></p>
  {% endif %}

<form method="POST">

{% csrf_token %}
<br>
Todays shift : {{shift.start}} -  {{shift.end}}
<br><br>
<a href="{%url 'calendar' %}">Calendar </a>
<br>
<a href="{% url 'manager_tools' %}">Manager Tools</a>
<a  href= "/home/{{ employee.pk }}/availability" > Avilability </a>
<br>
<a href="{%url 'list_tasks' %}">All Tasks </a>

<h3>My Tasks:</h3>
{% for x in tasks %}
{{x.task_name}} <a href= {% url 'update_task_status' task_id=x.pk %}>Update </a> <br>

<a href = "/task_detail/{{ x.pk }}">Description </a>
<br>
<button type="submit" name="{{x}} clock"> Clock-in </button> <button type="submit" name="{{x}} complete"> Task complete </button> <br><br>
<br><br>
{% endfor %}
</form>
{% endblock %}

</body>
</html>

