<h3>Hello</h3>
{% if user.employee.profile_pic %}
<img src=" /media/{{ user.employee.profile_pic }} "
width="500" 
height="500" >

{% else %}
<img src="/media/images/profile pic.jpg_large" 
width="200" 
height="200" >
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        
        {{ pic_form.as_p }}
        <input type="Submit"  value="change picture" name="change picture" >
    </form>
    <form method="POST">
    {% csrf_token %}

    <input type="Submit"  value="remove picture" name="remove" >
</form>


<br>
{{ user.first_name }} {{ user.last_name}}
<br>
{{user.email}}
<br>
{% if user.employee.phone_number %}
{{user.employee.phone_number}}
{% endif %}

