<form method="POST">
    <h3>enter employee id</h3>

    {% csrf_token %}
{{ search_form.as_p }}
<button name="search"> Submit </button>
</form>

<h3>Employees avilabilty</h3>
    {{ avil.sunday_start }} - {{avil.sunday_end}} {{ avil.monday_start }} - {{avil.monday_end}} {{ avil.tuesday_start }} - {{avil.tuesday_end}}
    {{ avil.wednesday_start }} - {{avil.wednesday_end}} {{ avil.thursday_start }} - {{avil.thursday_end}} 
    {{ avil.friday_start }} - {{avil.friday_end}}     {{ avil.saturday_start }} - {{avil.saturday_end}}



    <form method="POST">

        <h3>schedule an employee</h3>
    
        {% csrf_token %}
    {{ schedule_form.as_p }}
    <button name="save_shift"> Submit </button>
    </form>


    <form method="POST">

        <h3>All shifts for the week of: </h3>
    
        {% csrf_token %}
    {{ select_week_form.as_p }}
    <button name="select_week_form"> Submit </button>
    </form>
