{% block content %}

<style>
    h3 {text-align: center;}

    .center {text-align: center;}

    fieldset {
        border: 2px solid rgb(0, 0, 0);
        width: 400px;
        margin:auto;
    }

    .button {
        font: 16px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 6px 12px 6px 12px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
    }
</style>

<body>
    <div id="form">
        <h3>Shifts Available:</h3>
        {% for s in shifts %}
            <fieldset>
                <legend><b>{{ s.task_name }}</b></legend>
                <b>Date: {{ s.due_date }}   Start: {{ s.start }}   End: {{ s.end }}</b>
                <br><br>
                <b>Task: {{ s.task_description }}</b>
                <br><br>
                <a href="{% url 'home' %}" class="button">Pick Up Shift</button>
            </fieldset>
        {% endfor %}
    </div>
</body>

{% endblock %}