{% block content %}
<html>
    {% load static %}
    <html lang="en"><head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
 
    </head>
    <body style="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{% static '/css/shift_switch.css' %}">

    <div class="container">
    <div class="row">
    <div class="col-xl-9">
    <div class="card-body pb-0">
    <div class="row align-items-center">
    <div class="col-md-9">
    <div class="ms-3">
    <div class="row my-4">
    <div class="col-md-12">
    <a href="{% url 'home' %}" class="btn btn-primary go_back">Go Back</a>
    <form method="POST">
        {% csrf_token %}
    
    
    <h3>Shifts Available:</h3>
    {% for s, emp in shift_employee_dict.items %} 
        <div class="card">
            <div class="tab-content p-4">
            <div class="tab-pane active show" id="description-tab" role="tabpanel">
            <div class="d-flex align-items-center">
            <div class="flex-1">
                <h6 class="mb-0 text-muted">
                <h6>Date: {{ s.date }}</h6>
                <h6>Start: {{ s.start }}</h6>
                <h6>End: {{ s.end }}</h6>
                <br>
                <h6>Assigned Employee: </h6>
                {%for name in emp%}
                <h6>{{name}}</h6>
                {% endfor %}


                <br>
                <button class="btn btn-primary swap" name="button" value="{{s.pk}}">Pick Up Shift</button>
            </div></div></div></div>
        </div>
    {% endfor %}
    </form>

    </div></div></div></div></div></div></div></div></div>
    </html>
</html>
{% endblock %}