{% block content %}

<style>
    .center {
        text-align: center;
    }

    fieldset {
        border: 2px solid rgb(0, 0, 0);
        width: 400px;
        margin:auto;
    }

    .button {
        padding: 6px 12px;
    }

    .button1 {
        float: left;
    }

    .button2 {
        float: right;
    }
</style>

<body>
    <div id="form">
        <h3>Shifts Available:</h3>
        {% for s in shifts %}
            <fieldset>
                <legend><b>Group Name</b></legend>
                <b>Date: {{ s.date }} Start: {{ s.start }} End: {{ s.end }}</b>
                <br><br>
                <b>Task</b>
                <br><br>
                <button class="button">Pick Up Shift</button>
            </fieldset>
        {% endfor %}
    </div>
</body>