{% block content %}
<div id="task_card">
{{ task.task_name }} : {{ task.description }}
    <br>
    <table>
        <thead>
            
                <th>Status</th>
                <th>Date Assigned</th>
                <th>Date Due</th>
                <th>Date Completed</th>
                <th>Time On Task</th>
            
        </thead>

        <tbody>
            <tr>
                <!-- Task Status -->
                <td>
                    {% if task.is_complete %}
                        Complete
                    {% else %}
                        Incomplete
                    {% endif %}
                </td>
                <!-- Date Task Was Assigned -->
                <td> {{ task.date_assigned_to }} </td>
                <!-- Due date for the task -->
                <td> {{ task.due_date }} </td>
                <!-- Date task was completed -->
                <td>
                    {% if task.is_complete %}
                        {{ task.date_completed }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <!-- Time spent on the task -->
                <td> {{ task.time_on_task }}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
{% endblock %}