<form method="POST">
     {% csrf_token %}
     {{ form.as_p }}
     


<br><br>

    <table>
        <thead>
            <th>Task Name</th>
            <th>Project Name</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Employees</th>
        </thead>
        </tr>
        <tbody>
        {% for t in tasks %}
            <tr>
                <!-- Task Name -->
                <td>{{ t.task_name }}</td> 
                <!-- Project Name -->
                <td>{{t.project.project_name}}</td>
                <!-- Due Date -->
                <td>{{ t.due_date }} </td>
                <!-- Task Status -->
                <td>
                    {% if t.is_complete %}
                        Complete
                    {% else %}
                        Incomplete
                    {% endif %}
                </td>
                <!-- Assigned Employees -->
                <td>
                    {% for emp in t.employee_set.all %} 
                    {{ emp.user.first_name }} {{ emp.user.last_name }} &nbsp
                    {% endfor %}
                </td>  
            </tr>
        {% endfor %}
        </tbody>
    </table>



</form>