{% block content %}
<style>
    .center {
        text-align: center;
    }

    fieldset {
        border: 2px solid rgb(0, 0, 0);
        width: 400px;
        margin:auto;
    }

    .button {
        padding: 6px 12px;
    }

    .button1 {
        float: left;
    }

    .button2 {
        float: right;
    }
</style>



<div id="form">
    <fieldset> <!--TASK #-->
        <legend><b>Task {{ task.pk }}</b></legend>

        <fieldset> <!--TASK DESCRIPTION-->
            <legend><b>Description</b></legend>
            <a>{{ task.task_description }}</a>
        </fieldset> <br>
        
        <fieldset> <!--TASK INFO-->
            <legend><b>Task Info</b></legend>
            <a>Project Name: {{ task.task_name }}</a>
            <h1>{{ "" }}</h1> <!--blank space-->
            <a>Assigned To: {{ task.assigned_emp }} </a>
        </fieldset> <br>

        <button class="button button1">Edit Task</button>
        <button class="button button2" onclick="location.href='{% url 'list_tasks' %}'">Go Back</button>
    </fieldset>
</div>

{% endblock %}