

<div id="avil-form-container">
    <form hx-post="{%url 'schedule_employee' %}"
      hx-target="#avil-form-container"
      hx-swap="outerHTML">
    
                <h3>Employees avilabilty</h3>
                {{ search_form.as_p }}
                <button name="search" class = "btn btn-primary px-4"> Submit </button>
              </form>

              <br>
              <table class="table align-middle table-nowrap table-hover mb-0 ">
                <thead class="table-light">
                    <tr>
                        <th></th>
                        <th>Sunday</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                <td>Start</td>
                <td>{{ avil.sunday_start }}</td>
                <td>{{ avil.monday_start }}</td>
                <td>{{ avil.tuesday_start }}</td>
                <td>{{ avil.wednesday_start }}</td>
                <td>{{ avil.thursday_start }}</td>
                <td>{{ avil.friday_start }}</td>
                <td>{{ avil.saturday_start }}</td>
                </tr>
      
                <tr>
                    <td>End</td>
                    <td>{{ avil.sunday_end }}</td>
                    <td>{{ avil.monday_end }}</td>
                    <td>{{ avil.tuesday_end }}</td>
                    <td>{{ avil.wednesday_end }}</td>
                    <td>{{ avil.thursday_end }}</td>
                    <td>{{ avil.friday_end }}</td>
                    <td>{{ avil.saturday_end }}</td>
                    </tr>
                </tbody>
                </table>
                 
                  
                  <br>
                  <h5>Requests offs:</h5>
                  
                  {%for request in requests_off%}
                  {{request.start}} to {{request.end}}
                  <br>
                  Reason: {{request.description}}
                  <br>
                  {% endfor %}

            </div>