{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="{% static '/css/form.css' %}">
 
 <div id="create-shift-form-container" >
        <form hx-post="{%url 'schedule_employee' %}"
        hx-target="#create-shift-form-container"
        hx-swap="outerHTML">
            <br> 
                        <h3>schedule an employee</h3>
                    
                    {{ schedule_form.as_p }}
                    <button name="save_shift" class = "btn btn-primary px-4"> Submit </button>
  
                <h3>All shifts for the week of: </h3>
            
            {{ select_week_form.as_p }}
            <button name="select_week_form" class = "btn btn-primary px-4"> Submit </button>
            
            <table class="table align-middle table-nowrap table-hover mb-0 " >
                <thead class="table-light">
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Sunday</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
            
              </tr>
              
            </thead>
            
            <tbody>
              <tr>
            
                    {% for key, list in dict.items %} 
            
                    
                        {% for attribute in list %}
            
                        {% if forloop.first %}
                          <td>{{attribute}} </td>
                          
                          {%else%}
            
                            {% if attribute == None %}
                            <td></td>
                            {%else%}
                            <td>{{attribute.start}} - {{attribute.end}}
                              <br>
                              <button class ="delete_shift" type="submit" name="delete" value="{{attribute.pk}}">Delete </button>
                             </td>
                            {% endif %}
                        {% endif %}
            
                        {% endfor %}
                        <br>
                      </tr>
                  {% endfor %}
              </tbody>
              </table>
            </form>
            </div>